body{
    background-color: rgb(250, 192, 247);
    color: hotpink;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: blueviolet;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}